.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding-left: 40px;
  border-left-style: inset;
  color: white;
  height: 90%;
  justify-content: space-between;
}

h3
{
  font-size: 30px;
}

.activeContainer {
  display: flex;
    align-items: center;
    margin-bottom: 50%;
    border-top-style: double;
    margin-top: 15px;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-right: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .textContainer {
    display: none;
  }
}